<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Test Automation">
	<listeners>
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="com.jtaf.ohrm.listeners.ReportListener" />
	</listeners>
	<!-- <test thread-count="1" name="LoginPageTest">
		<classes>
			<class name="com.jtaf.ohrm.testcases.LoginPageTest" />
		</classes>
	</test>
	<test thread-count="1" name="AdminPageTest">
		<classes>
			<class name="com.jtaf.ohrm.testcases.AdminPageTest" />
		</classes>
	</test> -->
	<test thread-count="1" name="LoginPageTest">
		<classes>
			<class name="com.jtaf.ohrm.testcases.PFLoginPageTest" />
		</classes>
	</test>
</suite>
